{deps_dir, ["deps"]}.

{sub_dirs, ["rel", "apps/stock"]}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps,
 [
  {edown, ".*", {git, "http://github.com/esl/edown.git", "HEAD"}},
  {gen_leader, ".*", {git, "http://github.com/abecciu/gen_leader_revival.git", "HEAD"}},
  {gproc, ".*", {git, "http://github.com/esl/gproc.git", "master"}},
  {yaws, ".*", {git, "https://github.com/klacke/yaws.git", "master"}}
 ]}.
